body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table,td,th {
  border: 1px solid black;
  border-collapse: collapse;
}
.small {
  font-size: 8px;
  color: gray;
}